body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
 
  #navId img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
  }

  .nav-tabs li {
  display: inline-block;
  margin-right: 20px;
}

.nav-tabs li img {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  transition: all 0.3s ease;
}

.nav-tabs li img:hover {
  transform: scale(1.2);
  filter: brightness(1.2); /* Increase brightness on hover */
}


  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  #about, #projects {
    padding: 50px 0;
  }
  
  #about h2, #projects h2 {
    text-align: center;
  }
  
  .project {
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  