*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;

}




/* Header section */
.header{
  width: 100%;
  height: 100vh;
  background: url(background1.png);
  background-position: 70% 20%;
  background-size: cover;
}

.header .box{
  width: 80%;
  margin: auto;
  height: 100vh;
  position: relative;
}

.header .box nav{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .box nav .logo{
  font-size: 20px;  /**35px**/
  color: #05511D; /**#fff**/
  font-weight: bold;
}

.header .box nav .div-links a{
  margin-right: 30px;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.header .box nav .div-links a:hover{
  color: red;
}

.contains{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.contains .section h1{
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.contains .section h3{
  color: red;
  margin: 30 0 20px;
  font-size: 25px;
}

.contains .section p{
  font-size: 18px;
  color: #fff;
  /* color: #c3c3c3; */
  margin-bottom: 50px;
  line-height: 2;
}

.btn{
  padding: 15px 20px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  transition: o.3s;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.btn:hover{
  color: red;
  background-color: #fff;
}

.social-links{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.social-links a{
  color: #fff;
  font-size: 22px;
  transition: 0.4s;
}

.social-links a:hover{
  color: red;
  transform: scale(1.5);
}

span{
  color: red;
  font-weight: 500;
  transform: rotate(270deg);
  margin-top: 40px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .header .box nav {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .box nav .div-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .box nav .div-links a {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .contains .section h1 {
    font-size: 40px;
  }

  .contains .section h3 {
    font-size: 20px;
  }

  .contains .section p {
    font-size: 16px;
  }

  .social-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateY(0);
    flex-direction: row;
    gap: 15px;
  }

  .social-links a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header .box {
    width: 90%;
  }

  .header .box nav .logo {
    font-size: 18px;
  }

  .contains .section h1 {
    font-size: 35px;
  }

  .contains .section h3 {
    font-size: 18px;
  }

  .contains .section p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .social-links {
    bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header .box {
    width: 100%;
  }

  .header .box nav {
    height: auto;
  }

  .contains .section h1 {
    font-size: 30px;
  }

  .contains .section h3 {
    font-size: 16px;
  }

  .contains .section p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .social-links {
    gap: 10px;
  }

  .social-links a {
    font-size: 16px;
  }
}




/* Projects section */
#projects {
  background-color: #05511D; 
  padding: 50px 0;
}

#projects .container {
  text-align: center;
}

.projects-container {
 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  max-width: 300px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 15px 30px 15px; /* Added margin for spacing */
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: red; 
}

.project-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff; 
}

#projects h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fff; 
}

.project-info p {
  font-size: 1rem;
  color: #666;
}

#github img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#github{
  list-style-type: none;
  text-decoration: none;
}
#github img:hover {
  transform: scale(1.2);
}




/* About Me Section*/
#about-me{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;

  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;
}

.about-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#about-me h2{
  color: #05511D;
}

video {
  width: 100%;
  max-width: 600px;
  margin: 1rem 0;
  border-radius: 10px;
}



/* work experience section */
#work {
  
  padding: 50px 0;
}

#work .container {
  text-align: center;
}

.work-container {
 
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-card {

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 15px 30px 15px; /* Added margin for spacing */
}

#white{
  color: #05511D;
}
#grey{
  color: #666;
}



.work-card:hover {
  transform: translateY(-5px);
}

.work-card img {
  width: 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.work-card h4 {

  color: #666 
}

.work-info {
  padding: 20px;
}

.work-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #666; 
}

.work-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #e06377; 
}

.work-info h4 {

  color: #05511D 
}

.work-info p {
  font-size: 1rem;
  color: #666;
}


.workli img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.workli {
  list-style-type: none;text-decoration: none;
}
.workli img:hover {
  transform: scale(1.2);
}



/* Skills section */
#skills {
  background-color: #fff; /* Dark coral */
  padding: 50px 0;
}

#skills .container {
  text-align: center;
}

#skills .container h2{
  color: #05511D;
}

#skills ul {
  list-style-type: none;
  padding: 0;
  
}

#skills ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 10px;
}

/* Footer */
#footer {
  background-color: #05511D;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

 #footer p{
  color: #f9d5e5;
  text-align: center;
 }







/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .header .box nav {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .box nav .div-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header .box nav .div-links a {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .contains .section h1 {
    font-size: 40px;
  }

  .contains .section h3 {
    font-size: 20px;
  }

  .contains .section p {
    font-size: 16px;
  }

  .social-links {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateY(0);
    flex-direction: row;
    gap: 15px;
  }

  .social-links a {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header .box {
    width: 90%;
  }

  .header .box nav .logo {
    font-size: 18px;
  }

  .contains .section h1 {
    font-size: 35px;
  }

  .contains .section h3 {
    font-size: 18px;
  }

  .contains .section p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .social-links {
    bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header .box {
    width: 100%;
  }

  .header .box nav {
    height: auto;
  }

  .contains .section h1 {
    font-size: 30px;
  }

  .contains .section h3 {
    font-size: 16px;
  }

  .contains .section p {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .social-links {
    gap: 10px;
  }

  .social-links a {
    font-size: 16px;
  }
}
